    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>会员列表</h1>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>身份证</th>
              <th>电话</th>
              <th>卡号</th>
              <th>邮箱</th>
              <th>上级</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if rel_mem_sup_tuple_list %}
            {% for rel_mem_sup_tuple in rel_mem_sup_tuple_list %}
            {% set relation = rel_mem_sup_tuple[0] %}
            {% set member = rel_mem_sup_tuple[1] %}
            {% set superior = rel_mem_sup_tuple[2] %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ relation.name }}</td>
              <td>{{ member.id_no }}</td>
              <td>{{ member.phone }}</td>
              <td>{{ member.card }}</td>
              <td>{{ member.email }}</td>
              <td>{{ superior.name|default('-') }}</td>
              <td><a href="/hierarchy/save_member/name/{{ relation.name }}/source/list_member">修改</a></td>
            </tr>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>